@use "../abstracts" as *;

.project-page-container {
  position: absolute;
  overflow: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 1600px;
  max-height: 80%;
  background-color: $secondary;
  padding: 3rem;
  border-radius: 10px;
  z-index: 1;
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr;
  grid-template-areas:
    "content"
    "timeline"
    "support-form";
}

.project-page-content-container {
  grid-area: content;
}

.project-page-image {
  max-width: 100%;
  border-radius: 10px;
}

.project-page-text-container {
  width: 100%;
  padding-top: 1rem;
}

.project-page-text-container p {
  margin-top: 1rem;
}

.project-page-timeline-container {
  min-height: 700px;
  grid-area: timeline;
  position: relative;
}

.project-page-timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: $text-colour;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.project-page-timeline li {
  position: relative;
  text-align: center;
  width: 50%;
  list-style: none;
  margin-top: 5rem;
  font-family: gilroy;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.2em;
}

.project-page-timeline li:nth-child(odd) {
  padding-right: 1rem;
}

.project-page-timeline li:nth-child(even) {
  left: 50%;
  padding-left: 1rem;
}

.project-page-timeline li:not(:last-child) {
  margin-bottom: 5rem;
}

.project-page-timeline li::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid $highlight-1;
  top: 3px;
  border-radius: 50%;
  z-index: 1;
}

.project-page-timeline li:nth-child(even)::after {
  left: -16px;
}

.project-page-support-form-container {
  grid-area: support-form;
}

.support-form input,
textarea {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  margin-bottom: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5em;
  border: none;
  border-radius: 8px;
  padding: 8px;
}

.support-form input:nth-of-type(1) {
  margin-top: 1.5rem;
}

.support-form-button-container {
  display: flex;
  justify-content: center;
}

.support-form button {
  padding: 4px 16px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 1em;
  color: var(--main);
  border-radius: 4px;
  border: 2px solid $main;
  background-color: $secondary;
  cursor: pointer;
  text-align: center;
}

.support-form button:hover {
  background-color: $main;
  color: $secondary;
}
